attrs==21.2.0
beautifulsoup4==4.10.0
coverage==6.1.2
flake8==4.0.1
greenlet==1.1.2
hupper==1.10.3
iniconfig==1.1.1
Mako==1.1.5
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.2
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.10.0
pyparsing==2.4.7
pyramid==2.0
pyramid-debugtoolbar==4.9
pyramid-mako==1.1.0
pyramid-retry==2.1.1
pyramid-tm==2.4
pytest==6.2.5
pytest-cov==3.0.0
repoze.lru==0.7
soupsieve==2.3.1
SQLAlchemy==1.4.27
toml==0.10.2
tomli==1.2.2
transaction==3.0.1
translationstring==1.4
venusian==3.0.0
waitress==2.1.1
watchdog==2.1.6
WebOb==1.8.7
WebTest==3.0.0
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.6
