attrs==22.2.0
beautifulsoup4==4.11.1
coverage==7.0.4
exceptiongroup==1.1.0
flake8==6.0.0
greenlet==2.0.1
hupper==1.10.3
iniconfig==2.0.0
Mako==1.2.4
MarkupSafe==2.1.1
mccabe==0.7.0
packaging==23.0
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==1.0.0
py==1.11.0
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.14.0
pyparsing==3.0.9
pyramid==2.0
pyramid-debugtoolbar==4.10
pyramid-mako==1.1.0
pyramid-retry==2.1.1
pyramid-tm==2.5
pytest==7.2.0
pytest-cov==4.0.0
repoze.lru==0.7
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
toml==0.10.2
tomli==2.0.1
transaction==3.0.1
translationstring==1.4
venusian==3.0.0
waitress==2.1.2
watchdog==2.1.8
WebOb==1.8.7
WebTest==3.0.0
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.6
